{% extends 'layout.html' %}

{% block title %}
Cambiar datos
{% endblock %}


{% block content %}
<h1 class="text-2xl font-bold mb-4 text-white">Cambiar datos</h1>

<form action="/cambiar-datos" class="bg-white p-6 rounded shadow-sm" method="POST">

    <label class="block text-gray-700 font-medium mb-2" for="nombre">Nombre:</label>
    <input class="w-full py-2 px-3 rounded border border-gray-300 focus:outline-none focus:border-blue-500" type="text" name="username" ><br><br>

    <label class="block text-gray-700 font-medium mb-2" for="email">Email:</label>
    <input class="w-full py-2 px-3 rounded border border-gray-300 focus:outline-none focus:border-blue-500" type="email" name="email" ><br><br>

    <input type="submit" value="Cambiar datos" class="bg-slate-500 hover:bg-slate-400 text-white font-bold py-2 px-4 border-b-4 border-slate-700 hover:border-slate-500 rounded mt-10">
</form>

{% endblock %}

